@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.NET Core REST API</h1>
    <div class="container">
        <p>Assessment for <a href="https://avesdo.applytojob.com/apply/Jc0XhQizGX/Junior-NET-Developer-remote">Junior .NET Developer Position</a> at Avesdo </p>
        <strong><p style="color:red;">Please login to play with API. See footer to check API endpoint </p></strong>
        <h4>Steven Dohun Kim</h4>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:50%">
                        <h2>.NET</h2>
                    </th>
                    <th style="width:50%">
                        <h2>Tech used</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h4>.NET Core 5</h4>
                    </td>
                    <td>
                        <h4>Bootwatch</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Entity Framework</h4>
                    </td>
                    <td>
                        <h4>Azure</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>SQLite</h4>
                    </td>
                    <td>
                        <h4>C#</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>CodeGeneration</h4>
                    </td>
                    <td>
                        <h4>Linq</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>NewtonsoftJson</h4>
                    </td>
                    <td>
                        <h4></h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
